{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>

    <div class="mt-6 space-y-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aspernatur corporis dicta, dolorum eaque esse est facilis nam nihil nobis odit optio provident quam quo, totam velit vitae voluptatibus? Voluptate!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aspernatur corporis dicta, dolorum eaque esse est facilis nam nihil nobis odit optio provident quam quo, totam velit vitae voluptatibus? Voluptate!</p>
    </div>
{% endblock %}